<% if @users.exists? %>
  <% @users.each do |user| %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">名前</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
<% end %>