<div class = "container py-5">
  <div class = "row">
    <div class = "col-10">
      <%= form_with model: @stamp, local: true do |f| %>
        <%= f.submit "打刻開始", class: "btn btn-secondary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>