<div class = "container py-5">
  <div class = "row d-flex justify-content-center">
    <div class = "col-5">
      <%= form_with model: @stamp, local: true do |f| %>
        <div class = "mb-3">
          <%= f.label :target_id, "目標を選択"%>
          <%= f.select :target_id, options_from_collection_for_select(@targets, :id, :title) %>
        </div>
        <div class = "mb-3">
          <%= f.submit "打刻開始", class: "btn btn-secondary btn-lg"%>
        </div>
      <% end %>
    </div>
  </div>
</div>