<div class = "container py-5">
  <div class = "row d-flex justify-content-center">
    <div class = "col-8">
      <div class = "card">
        <h3 class = "card-header">
          日付<strong><%= @stamp.date.strftime("%m月 %d日") %></strong>
        </h3>
        <div class = "card-body">
          <h3 class = "card-text">
            開始時間:<strong><%= @stamp.start_time.strftime("%H:%M") %></strong>
          </h3>
          <h3 class = "card-text">
            終了時間:<strong><%= @stamp.end_time.strftime("%H:%M") %></strong>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>