<div class = "container py-5">
  <div class = "row d-flex justify-content-center">
    <div class = "col-10">
      <%= form_with model: @stamp, url: endstamp_path(@stamp), method: :patch, local: true do |f| %>
        <% f.submit "打刻終了", class: "btn btn-secondary btn-lg" %>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-10">
      <h3>開始時間は<strong><%= "#{@stamp.start_time.strftime("%m月%d日 %H:%M:%S")}" %></strong>です</h3>
    </div>
  </div>
</div>